# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high     10
1  banana  medium     12
2  orange     low     14
3   apple    high     14
4  banana  medium      0
5  orange     low      9
6   apple    high     13
7  banana  medium      9
8  orange     low      1
    fruit weight  price
0   apple   high      2
1  orange    low      9
2    pine   high      3
3   apple    low      4
4  orange   high      6
5    pine    low      8

In [24]:
# - 依照 fruit 欄位做合併

pd.merge(df1, df2, on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high       10     high        2
1    apple     high       10      low        4
2    apple     high       14     high        2
3    apple     high       14      low        4
4    apple     high       13     high        2
5    apple     high       13      low        4
6   orange      low       14      low        9
7   orange      low       14     high        6
8   orange      low        9      low        9
9   orange      low        9     high        6
10  orange      low        1      low        9
11  orange      low        1     high        6

In [9]:
# - 依照 index 索引做合併

df1.join(df2)

ValueError: ignored

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

因為merge預設的合併方式是inner(交集)，不一樣的就會消失。

In [8]:
pd.merge(df1, df2, on='fruit', how='outer')

     fruit weight_x  price_x weight_y  price_y
0    apple     high     10.0     high      2.0
1    apple     high     10.0      low      4.0
2    apple     high     14.0     high      2.0
3    apple     high     14.0      low      4.0
4    apple     high     13.0     high      2.0
5    apple     high     13.0      low      4.0
6   banana   medium     12.0      NaN      NaN
7   banana   medium      0.0      NaN      NaN
8   banana   medium      9.0      NaN      NaN
9   orange      low     14.0      low      9.0
10  orange      low     14.0     high      6.0
11  orange      low      9.0      low      9.0
12  orange      low      9.0     high      6.0
13  orange      low      1.0      low      9.0
14  orange      low      1.0     high      6.0
15    pine      NaN      NaN     high      3.0
16    pine      NaN      NaN      low      8.0

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

因為在有重複的欄位下，沒有給定lsuffix和rsuffix來命名不同的資料來源。

In [19]:
df1.join(df2, how='outer', lsuffix='_1', rsuffix='_2')

  fruit_1 weight_1  price_1 fruit_2 weight_2  price_2
0   apple     high       10   apple     high      2.0
1  banana   medium       12  orange      low      9.0
2  orange      low       14    pine     high      3.0
3   apple     high       14   apple      low      4.0
4  banana   medium        0  orange     high      6.0
5  orange      low        9    pine      low      8.0
6   apple     high       13     NaN      NaN      NaN
7  banana   medium        9     NaN      NaN      NaN
8  orange      low        1     NaN      NaN      NaN