# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [3]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

In [4]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [11]:
df['age'].mean()

3.4375

In [12]:
df.sort_values(by=['age'])

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [15]:
df.sort_values(by=['visits'], ascending=False)

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

In [18]:
df['priority'] = df['priority'].apply(lambda x: 'True' if x=='yes' else 'False')

In [19]:
df

  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [21]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.312376  0.883801  0.357635
1  0.109044  0.527838  0.556559
2  0.664162  0.904052  0.585684
3  0.250498  0.540642  0.117261
4  0.511185  0.696032  0.268362

In [23]:
df - df.mean()

          0         1         2
0 -0.057077  0.173328 -0.019465
1 -0.260409 -0.182635  0.179459
2  0.294709  0.193579  0.208584
3 -0.118955 -0.169831 -0.259839
4  0.141732 -0.014441 -0.108738

In [41]:
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0 -0.205561  0.365864 -0.160303
1 -0.288769  0.130024  0.158745
2 -0.053804  0.186086 -0.132282
3 -0.052302  0.237842 -0.185540
4  0.019325  0.204173 -0.223498

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [27]:
df

          0         1         2
0  0.312376  0.883801  0.357635
1  0.109044  0.527838  0.556559
2  0.664162  0.904052  0.585684
3  0.250498  0.540642  0.117261
4  0.511185  0.696032  0.268362

In [38]:
# row sum
df.sum(axis=1).idxmin()

3

In [36]:
# column sum
df.sum().idxmin()

0